body, html{
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.tile{
    background-color: red;
    position: relative;
}

/*3240, 2160*/

#canvas{
    border: 2px solid gray;
    image-rendering: pixelated;
}